:root {
    --700_60px_Montserrat: 700 60px 'Montserrat';
    --700_46px_Montserrat: 700 46px 'Montserrat';
    --700_40px_Montserrat: 700 40px 'Montserrat';
    --700_24px_Montserrat: 700 24px 'Montserrat';
    --900_30px_Mulish: 900 30px 'Mulish';
    --700_16px_Mulish: 700 16px 'Mulish';
    --400_20px_Mulish: 400 20px 'Mulish';
    --400_16px_Mulish: 400 16px 'Mulish';
}