@import url(../../variables/css/color.css);
@import url(../../variables/css/font.css);

.container {
    padding: 214px 0 111px 0;
}

.block-gradient {
    position: absolute;
    min-width: 75%;
    height: 700px;
    left: 0px;
    top: 101px;
    background: linear-gradient(44.11deg, #99C6F20D 15.75%, #3D75BF0D 84.63%);
    mix-blend-mode: normal;
    border-radius: 0px 20px 20px 0px;
}

.block {
    position: relative;
    z-index: 10;
    max-width: 1120px;
    height: 472px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.text-block {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-block h1 {
    font: var(--700_60px_Montserrat);
}

.text {
    font: var(--400_20px_Mulish);
    color: var(--grey);
}

.text-sm {
    font: var(--400_16px_Mulish);
    color: var(--grey);
}

.text-sm span {
    font: var(--400_16px_Mulish);
    color: var(--dark-blue);
}

.video-block {
    margin: auto 0;
}

.video {
    max-width: 590px;
    max-height: 360px;
    background: #001A49;
    box-shadow: 0px 32px 44px #818A8C;
    border-radius: 20px;
    margin-left: 15%;
}

.btn {
    font: var(--700_16px_Mulish);
    max-width: 160px;
    line-height: 20px;
    color: var(--white);
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    text-align: center;
    padding: 20px 0;
}