@import url(../../variables/css/color.css);
@import url(../../variables/css/font.css);

header {
    background-color: var(--white);
    padding: 15px 0;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

.container {
    display: flex; 
    justify-content: space-between;
    max-width: 1120px;
    margin: auto
}

.logo {
    margin: auto 0;
}

.logo a {
    font: var(--900_30px_Mulish);
}

.item {
    font: var(--700_16px_Mulish);
}

.block-header-ul {
    display: flex;
    align-items: center;
}

.block-header-ul li {
    list-style-type: none;
}

.block-header-ul li:not(:last-child) {
    margin-right: 37px;
}

.btn {
    font: var(--700_16px_Mulish);
    line-height: 20px;
    color: var(--white);
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    padding: 15px 30px;
}